// v2 section


.c-v2-section{
  &__wrapper{
    padding: ($s-gutter--xsmall*2);

    @include t-media-query($s-xsmall){
      text-align: center;
    }
  }

  &__container{
    h1, h2, h3, h4, h5, h6 {
      @include t-media-query($s-xsmall){
        font-size: 1.5rem;
      }
    }
  }

  @include t-media-query($s-medium-up){
    &__wrapper{
      padding: ($s-gutter--medium);
      width: 100%;
      max-width: 1670px;
      margin: 0 auto;
    }
  }
}