// V2 Skill

.c-v2-skill{
  .o-skills-bubbles{
    @include t-flex();
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    svg{
      display: block;
      width: 100%;
      max-width: 11rem;
      fill: $s-color--background;
      stroke: $s-color--background; 
      margin: 0 auto;
      .st6,
      .st7,
      .st8{
        stroke: $s-color--background; 
      }
    }

    &__animate{
      width: 50%;
    }
  }

  @include t-media-query($s-small-up){
    padding: 0 ($s-gutter--large);

    &__content{
      text-align: center;
    }

  }
  
  @include t-media-query($s-medium-up){
    padding: 0 ($s-gutter--medium);

    .o-skills-bubbles{
      &__animate{
        width: 25%;
      }
    }
  }
}