@font-face {
    font-family: 'IBM Plex Mono';
    src: url('IBMPlexMono-ExtraLight.eot');
    src: url('IBMPlexMono-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('IBMPlexMono-ExtraLight.woff2') format('woff2'),
        url('IBMPlexMono-ExtraLight.woff') format('woff'),
        url('IBMPlexMono-ExtraLight.ttf') format('truetype'),
        url('IBMPlexMono-ExtraLight.svg#IBMPlexMono-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

