/*
 *  Anchor Tag Styling
 *    For styling anchor tags
 *
 *  Version:
 *    2.0.0 - 2018/10/31
 */
a {
  text-decoration: none;
  color: $s-color--tertiary;

  &:hover {
    color: $s-color--secondary-compliment;
    text-decoration: none;
  }
}
