// skills-bubbles

.o-skills-bubbles{
  &__bubble{
    display: block;
    // background-color: $s-color--gray;
    padding: ($s-gutter--base*2);
    border-radius: 50%;
    text-align: center;
    margin-top: $s-gutter--base;
    margin-bottom: $s-gutter--base;

    // svg
    > svg,
    > img{
      display: block;
      min-width: 100%;
      min-height: 100%;
      width: 3rem;
      height: 3rem;
      margin: 0 auto 0.5rem;
    }

    .is-bubble-1 &,
    .is-bubble-4 &{
      width: 7rem;
      -webkit-animation: swing1 1.75s linear infinite;
      animation: swing1 1.75s linear infinite
    }

    .is-bubble-1 &{
      width: 8rem;
    }

    .is-bubble-2 &{
      width: 8rem;
    }

    .is-bubble-3 &{
      width: 10rem;
      margin-bottom: ($s-gutter--base*2);
      -webkit-animation: swing3 2s linear infinite;
      animation: swing3 2s linear infinite
    }


    .is-bubble-2 &,
    .is-bubble-5 &{
      padding: (2rem 0%);
      -webkit-animation: swing2 1.75s linear infinite;
      animation: swing2 1.75s linear infinite
    }

    .is-bubble-5 &{
      width: 96px;
      width: 6rem;
      height: 96px;
      height: 6rem;
      padding: 1rem;
    }


  @media only screen and (max-width: 599px){
    .is-bubble-1 &{
      margin-left: auto;
    }

    .is-bubble-2 &{
      margin-left: 5%;
    }
    .is-bubble-3 &{
      margin-left: auto;
      margin-right: auto;
    }
    .is-bubble-4 &{
      margin-left: auto;
      margin-right: 15%;
    }
  }

    // colors
    // .is-bubble-1 &{
    //   background-color: #e6e1eb;
    // }

    // .is-bubble-2 &{
    //   background-color: #cadae1;
    // }

    // .is-bubble-3 &{
    //   background-color: #faf7d1;
    // }
    
    // .is-bubble-4 &{
    //   background-color: #fcd9d6;
    // }

    // .is-bubble-5 &{
    //   background-color: #72d5e0;
    // }
  }

  @media only screen and (min-width: 600px){
    @include t-flex();
    @include t-flex-justify-center();
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &__animate{
      width: 50%;
    }

    &__bubble{
      margin-left: auto;
      margin-right: auto;
    }
  }


  @include t-media-query($s-medium-up){
    padding-bottom: $s-gutter--large;
    &__animate{
      width: 33.33%;
    }
  }
}