/*
 *  Input settings
 *    Provides common settings for inputs and other widgets
 *
 *  Version:
 *    1.0.0 - 2018/01/08
 */

@mixin t-placeholder() {
  //&:placeholder {@content;}
  &:moz-placeholder {@content;}
  &:ms-input-placeholder {@content;}
  //&:webkit-input-placeholder {@content;}
  //&:-webkit-input-placeholder {@content;}
  &::placeholder {@content;}
  &::moz-placeholder {@content;}
  //&::ms-input-placeholder {@content;}
  //&::webkit-input-placeholder {@content;}
  &::-webkit-input-placeholder {@content;}
}

$s-input--radius: 0;

$s-input--padding: 0.5em 0;
$s-input--padding-large: 0.25em 0;
$s-input--padding-wide: 0.25em 0;
$s-input--padding-large-wide: 0.25em 0;

$s-input--padding-square: 0.5em;
$s-input--padding-large-square: 0.25em;

$s-input--border: 1px solid;
