/*
 *  Typography Settings
 *    Contains fonts, and font definitions for use throughout the styles.
 *
 *  Version:
 *    2.0.0 - 2018/10/31
 */


/*** Font Stacks ***/
$s-font--stack-default: Skin, Helvectica, sans-serif;
$s-font--stack-secondary: Fiona, Helvectica, sans-serif;

/*** Font Sizes ***/
$s-font--size-default: 14px;

/*** Font Weights ***/
$s-font--weight-default: 400;

/*** Line Heights ***/
$s-font--line-default: 1.5;

/*** Letter Spacing ***/
$s-font--letter-default: 0.0614em;
$s-font--letter-heading: 0.015em;

/*** Font Sets ***/
%s-font--button {
  font-family: $s-font--stack-default;
  text-decoration: none;
  letter-spacing: 0.0614em;
}

%s-font--button-quaternary {
  text-transform: none;
}

.o-bold{
  font-weight: 600;
}
